* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 500px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 1rem;
  text-align: left;
  box-sizing: border-box;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.faq {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  padding: 1rem;
}

.fa {
  border-bottom: 1px solid #e8e7e7;
}

.fa:nth-of-type(5) {
  border-bottom: none;
}

.que {
  position: relative;
  padding: 1rem 0;
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 3rem;

  &:hover {
    color: hsl(292, 91%, 71%);
  }
}

.plus {
  position: absolute;
  right: 0;
}

.ans {
  padding: 1rem 0;
  display: none;
  color: hsl(292, 16%, 49%);
  overflow: hidden;
  max-height: 0;
}

/* animation */

.p-visible {
  display: block;
  animation: visib 1s linear 300ms 1 forwards;
  opacity: 0;
}

@keyframes visib {
  0% {
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 200px;
    animation-direction: reverse;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-position-x: -505px;
    background-position-y: -40px;
  }
  .container {
    min-width: 350px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 1rem;
  }
}
